@media (max-width: 1242px) {
  html {
    font-size: 50%;
  }
  .gallery-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 5rem;
    margin-top: 3rem;
  }
  .coding-gallery-header {
    font-size: 3rem;
  }
  .coding-gallery-body {
    font-size: 2.4rem;
  }
  .coding-image {
    margin: 0 auto;
    max-height: 300px;
    width: 30rem;
  }
  .gallery-cell {
    height: 80rem;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 42%;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 35%;
  }

  section {
    padding: 0rem 5rem 0rem 5rem;
  }
  .thumbnail-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 20%;
  }
}
@media (max-width: 250px) {
  html {
    font-size: 15%;
  }
}
@media (max-width: 200px) {
  html {
    font-size: 12%;
  }
}

@media (max-width: 150px) {
  html {
    font-size: 10%;
  }
}
@media (max-width: 130px) {
  html {
    font-size: 8%;
  }
}
@media (max-width: 110px) {
  html {
    font-size: 6%;
  }
}
