@media (max-width: 1242px) {
  html {
    font-size: 50%;
  }
  .gallery-cell {
    height: 400px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 42%;
  }
  .gallery-cell {
    height: 350px;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 35%;
  }
  .gallery-cell {
    height: 300px;
  }
  section {
    padding: 0rem 5rem 0rem 5rem;
  }
  .thumbnail-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  html {
    font-size: 30%;
  }
  .gallery-cell {
    height: 250px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 25%;
  }
  .gallery-cell {
    height: 200px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 20%;
  }
  .gallery-cell {
    height: 150px;
  }
}
@media (max-width: 250px) {
  html {
    font-size: 15%;
  }
  .gallery-cell {
    height: 150px;
  }
}
