*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  perspective: 800px;
  font-family: "Figtree", sans-serif;
  background: #1d1f20;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}
section {
  padding: 0rem 20rem 0rem 20rem;
  margin: 0 auto;
  overflow: hidden;
}
.skills-header {
  color: #b23838;
  font-size: 6rem;
  display: flex;
  padding: 4rem;
  align-items: center;
  justify-content: center;

  margin-top: 10rem;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: none;
}
/* .header-text-box {
  border-radius: 20px;
  background: radial-gradient(
    circle farthest-corner,
    rgb(255, 90, 90),
    rgb(140, 53, 53)
  );

  box-shadow: 5px 5px 10px 10px #00000000;
} */
.harryfh {
  color: #fff;
  font-size: 4rem;
  grid-row: 2;
  grid-column: 1/-1;
  color: rgb(178, 56, 56);
  text-align: center;
  margin-left: 1.7rem;
  letter-spacing: 0.03rem;
}

.harryfh::before {
  content: "";
  box-shadow: 0 0px 0px 3000px #1d1f2000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
  border-radius: 8px;

  transition: all 0.5s;
  z-index: -1;
}

.harryfh:hover::before {
  transition: all 0.3s;
  box-shadow: 0 0px 0px 3000px #1d1f20dd;
  background: #1d1f20dd;
}

.scene {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;

  background-image: url("../pixelated.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
.special {
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;

  position: absolute;
  content: "";
  background-color: transparent;
  width: 200px;
  height: 200px;
  z-index: 10;
  opacity: 0.3;
}

.magic {
  z-index: 3;
  position: absolute;

  display: flex;
  width: 10rem;
  height: 10rem;
  background: #1d1f20;
  /* border-radius: 50%; */
  box-shadow: 0 0px 0px 3000px #1d1f20;
  /* 900px in the box shadow is a magic number to be larger than we need*/
  /* background: radial-gradient(
    circle farthest-corner,
    #1d1f2000 0%,
    rgb(29, 31, 32) 50%
  ); */

  transition: background-image 0.5s linear;
  transition: opacity 0.5s linear;
  transition: top ease 0.5s;
}

.special + .magic {
  transition: scale 0.3s ease-in-out;
  transform: scale(3);
}

.scene:hover .magic {
  box-shadow: 0 0px 0px 300rem #1d1f20;
  background: radial-gradient(
    circle farthest-corner,
    #1d1f2000 0%,
    rgb(29, 31, 32) 50%
  );
  transition: opacity 0.5s ease-in;
  transition: box-shadow 0.5s ease-in;
  opacity: 1;
}

.nav:hover + .magic {
  /* background: radial-gradient(
    circle farthest-corner,
    #1d1f2000 100%,
    rgb(29, 31, 32) 50%
  ); */
  opacity: 0;
  box-shadow: 0px 0px 0px 3000px #1d1f2000;
  transform: scale(1);
}
.nav-wrapper {
  width: auto;
  /* background-image: linear-gradient(#1d1f20, #000); */

  display: grid;
  grid-template-rows: repeat(2, 1fr);

  background: none;
  z-index: 10;
}
.col-1 {
  grid-column: 1;
}
.col-2 {
  grid-column: 2;
}
.col-3 {
  grid-column: 3;
}
.col-4 {
  grid-column: 4;
}
.col-5 {
  grid-column: 5;
}
.harryfh {
  grid-row: 1;
}
.bottom {
  grid-row: 2;
}
.top {
  grid-row: 3;
  grid-column: auto / span 2;
}
nav {
  border-radius: 20px;
  width: auto;
  grid-row: 2;
  display: flex;
  align-items: space-evenly;
  justify-content: center;
  grid-row: 2;
}
.nav-link {
  color: red;
  padding-inline: 3rem;
  grid-row: 2;
  filter: brightness(0.4);
}
a {
  margin-top: 1rem;
  color: inherit;
  margin-bottom: 1rem;
  text-decoration: none;
}
span {
  display: inline-block;
  /* padding: 3rem; */
  width: auto;
  transition: transform 0.1s linear;
}

a span {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 3.2rem;
  text-transform: lowercase;
  pointer-events: none;
}

.hover-this {
  transition: all 0.3s ease;
  display: inline-block;
}

.short.hover-this {
  grid-row: 1;
  grid-column: 5;
}

.harryfh ~ .hover-this {
  filter: brightness(0.4);
}
.nav-link ~ .hover-this {
  filter: brightness(0.4);
}
.hover-this:hover {
  filter: brightness(1);
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #1d1f20;
  border-radius: 50%;
  transform: scale(0.01);
  mix-blend-mode: hue;
  transition: transform 0.3s ease-out;

  grid-row: 3;
}

.harryfh:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(12) !important;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(40);
}
.socials {
  display: flex;
  grid-column: 1/-1;
  justify-content: space-evenly;
  align-items: center;
}

.about {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
  background-color: #b23838;
  max-width: 100%;
  gap: 3rem;
  position: relative;
}

.about-img-box {
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.about-img {
  max-width: 100%;
}

.contact-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}
.btn--contact {
  height: 100%;
  margin: 0rem !important;
  z-index: -1;
  position: absolute;
}

.btn--about a {
  padding-inline: 3rem;
}
.about-text-box {
  grid-row: 2;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 8rem;
}
.about-text-box h2 {
  color: #eee;
  font-size: 4.8rem;
}
.about-text-box p {
  color: #ddd;
  font-size: 2.4rem;
}
.about-btn-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-row: 3;
  grid-column: 1/-1;
}
.btn {
  padding: 2rem 4rem 2rem 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 4rem 1rem 0rem 0rem;
  font-size: 1.8rem;
  text-align: center;
  text-justify: center;
  background-color: #1d1f20;
  color: #eee;
  box-shadow: 0rem 0rem 1rem 0rem hsla(200, 5%, 12%, 0.05);
  border-radius: 50px;

  transition: all 200ms ease-in;
}
.btn:hover {
  transform: scale(105%);
  transition: all 200ms ease-in;
  cursor: pointer;
  color: hsl(0, 100%, 66%);
}

.btn--ig .box {
  --mask: radial-gradient(6.73rem at 50% 9.5rem, #000 99%, #0000 101%)
      calc(50% - 10rem) 0/20rem 51% repeat-x,
    radial-gradient(6.73rem at 50% -4.5rem, #0000 99%, #000 101%) 50% 5rem/20rem
      calc(51% - 5rem) repeat-x,
    radial-gradient(6.73rem at 50% calc(100% - 9.5rem), #000 99%, #0000 101%)
      calc(50% - 10rem) 100%/20rem 51% repeat-x,
    radial-gradient(6.73rem at 50% calc(100% + 4.5rem), #0000 99%, #000 101%)
      50% calc(100% - 5rem) / 20rem calc(51% - 5rem) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.top-waves {
  position: absolute;
  margin: 0 auto;
  transform: translate(0, -99%);
  z-index: 20;
}

.graphic-design {
  background-color: #1d1f20;
  position: relative;
}
.work-header {
  color: #b23838;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.thumbnail-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.thumbnail-gallery img {
  width: 100%;
  border-radius: 8px;
  display: block;
  aspect-ratio: 16/9;
}
.image-container {
  overflow: hidden;
}

.poster-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.poster-gallery img {
  width: 100%;
  padding: 1rem;
}

.videography {
  background-color: #1d1f20;
  position: relative;
  display: grid;
  place-items: center;
  padding-bottom: 5rem;
}
.slider-container {
  display: grid;
  place-content: center;
  position: relative;

  border-radius: 1rem;
  --position: 50%;
}
.image-containuer {
  overflow: hidden;
  max-width: 400px;
  max-height: 80vh;
  position: relative;

  background-color: #000;
}
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: left;
}
.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}
.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.slider-line {
  position: absolute;
  inset: 0;
  width: 0.4rem;
  background-color: #1d1f20;
  z-index: 10;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}
.slider-button {
  position: absolute;
  padding: 0.5rem;
  background-color: hsl(0, 100%, 66%);
  color: #1d1f20;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  pointer-events: none;
  z-index: 11;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 1px hsla(200, 5%, 12%, 0.5);
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid #b23838;
  outline-offset: 3px;
}
.edit-header {
  color: #b23838;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.edit-name {
  color: #fff;
  text-shadow: 1px 1px 2px #b23838, 0 0 1em #1d1f20, 0 0 0.2em #1d1f20;
  position: absolute;
  inset: 0;
  transform: translate(5%, 80%);
  z-index: 12;
  font-size: 1.6rem;
  pointer-events: none;
}
#about {
  position: absolute;
  transform: translateY(-10rem);
}
.graphic-design {
  margin-bottom: 20rem;
}
.skills {
  cursor: default;

  padding-bottom: 20rem;
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 5rem;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.skill-row {
  padding: 3rem;

  transform: scale(1);
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all 150ms ease-in;
  aspect-ratio: 16/9;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
}
.skill {
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Ysabeau;
  font-size: 2rem;
}
.wrapper {
  margin-top: 4rem;
  background-color: #1d1f20;
}

.skill-name {
  font-weight: 700;
  font-size: 2.4rem;
  font-family: Ysabeau;
  position: absolute;
  z-index: 100;
  width: auto;
  display: block;
  text-align: left;
  transform: translate(0, -100%);
  transition: all 300ms ease-out;
  padding: 1rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  padding: 3rem;

  justify-items: center;
  align-items: center;
}

.skill-row:hover {
  transform: scale(1.2);
}

/* .skills-list :last-child {
  font-weight: 700;
  grid-column: 3;
  font-size: 2.2rem;
  font-family: Figtree;
  color: #eee;
} */

.skill-row:hover {
  color: #000000;
}
.row-1 {
  background-color: #6687f3;
  color: #302e42;
}
.row-2 {
  background-color: #e2984a;
  color: #b14a00;
}
.row-3 {
  background-color: #7e2a78;
  color: #0000009d;
}

.row-4 {
  background-color: #30ad49;
  color: #15661c;
}

.row-5 {
  background-color: #ddd;
  color: #666;
}
.row-6 {
  background-color: #a22d2d;
  color: #521111;
}

.row-7 {
  background-color: #a22d2d;
  color: #521111;
}

.skill-row:hover + .skill-name {
  transition: all 300ms ease-in;
  color: black;
}
.skill-name {
  opacity: 0;
  border-radius: 10px;
  transition: all 300ms ease-out;
}

.skill-row:hover + .skill-name {
  transition: all 250ms ease-out;
  opacity: 100;
}

.skill-row.right:hover + .skill-name {
  transform: translate(0%, -115%);
}
.skill-row.left:hover + .skill-name {
  transform: translate(100rem, -115%);
}

.skill-row.left:hover + .skill-name {
  transform: translate(25rem, -80%);
}
.skill-row.left:hover {
  transform: translate(-5%);
}
.skill-row.right:hover + .skill-name {
  transform: translate(25rem, -80%);
}
.skill-row.right:hover {
  transform: translate(5%);
}

.--margin-left-50 {
  margin-left: 50rem;
}
.--margin-right-50 {
  margin-right: 50rem;
}

.gallery {
  background: #222;
}

.gallery-cell {
  width: 66%;
  height: 750px;
  margin-right: 2rem;
  background: #b23838;
  border-radius: 8px;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.coding {
  background-color: #1d1f20;
  position: relative;
  padding-block: 20rem;
}
.coding-header {
  color: #b23838;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.gallery-text {
  color: #eee;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr; /* Three rows */
  grid-template-areas:
    "header   header"
    "main1    main2"
    "footer   footer";
  align-items: center;
  justify-items: center;
  padding: 3rem;
  text-align: left;
}
.github-icon {
  width: 2rem;
  margin: 0rem 1rem 0rem 1rem;
  transform: translateY(10%);
}
.coding-gallery-header {
  font-size: 2.4rem;
  grid-area: header;
}
.coding-gallery-body {
  font-size: 1.8rem;
  grid-area: main1;
}
.coding-btn {
  grid-area: footer;
}
.coding-image {
  width: 100%;

  padding: 1rem;

  border-radius: 20px;

  grid-area: main2;
}
.coding-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
